<h1 align="center">chefs pages</h1>
<% @chef.each do |tmp|%>


  <div class="container mt-5">
    <div class="jumbotron p-4">
      <h3 class="mb-4"><%= link_to tmp.chefname, chef_path(tmp) %></h3> 
      <% if logged_in? && current_chef.chefname==tmp.chefname%>
        <%= link_to "edit", edit_dish_path(tmp) ,class: "btn btn-primary btn-lg"%>
        <%= button_to "Delete this chef?", chef_path(tmp), method: :delete, data: { confirm: "Are you sure you want to delete this dish?" }, class: "btn btn-primary btn-lg "%>
        <%else%>
        <%end%>
    </div>
    
  </div>



<%end%>

