<% obj.each do |tmp|%>


  <div class="container mt-5">
    <div class="jumbotron p-4">
      <h3 class="mb-4"><%= link_to tmp.name, dish_path(tmp) %></h3> 
    
     
    </div>
    
  </div>



<%end%>